@keyframes test-scroll {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }

.g-text-box {
  margin-top: 16rpx;
  padding: 16rpx 10rpx;
  width: 100%;
  line-height: 40rpx; }
  .g-text-box .u-p {
    padding-right: 20rpx;
    transform: translateX(0);
    transition: .3s linear; }
    .g-text-box .u-p[data-active] {
      transform: translateX(0) !important;
      transition: 0s linear !important; }
