@keyframes test-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.g-text-box {
  margin-top: 8px;
  padding: 8px 5px;
  width: 100%;
  line-height: 20px;
  .u-p {
    padding-right: 10px;
    transform: translateX(0);
    transition: .3s linear;
    &[data-active] {
      transform: translateX(0) !important;
      transition: 0s linear !important;
    }
  }
}